body {
  // Light Theme
  --color-warning: var(--hue-red);
  --color-bg-primary: var(--hue-white);
  --color-bg-head: var(--hue-white);
  --color-text-primary: var(--hue-dark-grey);
  --color-text-head: var(--hue-dark-grey);
  --color-text-secondary: var(--hue-light-grey);
  --color-bg-secondary: var(--hue-light-grey);
  --color-text-link: var(--hue-blue);
  --color-bg-button-from: var(--hue-main-green);
  --color-bg-button-to: var(--hue-dark-green);
  --color-bg-footer: var(
    --hue-dark-grey
  ); // confusion, --hue-secondary-dark, --hue-main-dark, --hue-dark-grey
  --color-text-footer: var(--hue-white);
  --color-border-card: var(--hue-d9d9d9);
  --color-border-input: var(--hue-light-grey);

  --border-card: 1px solid var(--color-border-card);

  &.dark {
    //Dark Theme
    --color-warning: var(--hue-light-red);
    --color-bg-primary: var(--hue-main-dark);
    --color-bg-head: var(--hue-secondary-dark);
    --color-text-primary: var(--hue-white);
    --color-text-head: var(--hue-dark-grey);
    --color-text-secondary: var(--hue-light-grey);
    --color-bg-secondary: var(--hue-dark-grey);
    --color-text-link: var(--hue-blue);
    --color-bg-button-from: var(--hue-main-green);
    --color-bg-button-to: var(--hue-dark-green);
    --color-bg-footer: var(
      --hue-secondary-dark
    ); // confusion, --hue-secondary-dark, --hue-main-dark
    --color-text-footer: var(--hue-white);
    --color-border-card: var(--hue-d9d9d9);
    --color-border-input: var(--hue-light-grey);

    .card {
      background-color: var(--color-bg-head);
      border-color: var(--color-border-card);
    }
  }
}
